.body{
    background-color: ;
    background-image: url(bg\ main.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.maindiv{
    margin-top: 85%;
    background-color: ;
    margin-left: 20PX;
}
.heyjade{
    text-align: center;
    font-size: 60px;
   font-family: "Playwrite NO", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.btnfp{
    align-items: ;
    text-align: center;
    margin-top: 4%;
    
    width: 50%;
    margin-left: 25%;
}

 
.button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 25px;
  justify-content: center;
  line-height: 2cm;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.button:active,
button:hover {
  outline: 0;
}

.button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button:hover span {
  background: none;
}

.button:active {
  transform: scale(0.9);
}
